.navbar-brand img {
    height: 3rem;
}

.navbar {
    background: linear-gradient(to right, #f2f2f2, #fbfbfb);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    /* box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .5); */
}

.nav-item {
    padding: .3rem;
}

.nav-link {
    color: black!important;
}

.nav-link.active, .nav-link:hover {
    color: #396AFC!important;
}